.blue_bg{
    background-color: rgba(85, 200, 200, 0.736);
}

.dark_grey_bg{
    background-color: rgb(89, 89, 89);
}

.black_bg{
    background-color: rgb(0, 0, 0);
}

.grey_bg{
    background-color: rgb(168, 168, 168);
}

.white_bg{
    background-color: white;
}

.nav_colour{
    background-color: #ff0000;
    color: black;
    opacity:0;
    
}

.big_padding{
    padding-top: 20vw;
    padding-bottom: 30vw;
    padding-left: 20vw;
    padding-right: 20vw;
}

.small_padding{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.title_font{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color :white;
}

.white_font{

    color: white;
}

.body_font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color :black;
    opacity: 100%;
}

.medium_text{
    font-size: 15px;
}

.big_text{
    font-weight: 400;
}

@media screen and (min-width: 801px) {
    .big_text {
        font-size: 60px;
    }
    .medium_text{
        font-size: 17px;
    }
  }
  
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  
  @media screen and (max-width: 300px) {
    .big_text {
        font-size: 15px;
    }
    .medium_text {
        font-size: 7px;
    }
  }

.margins{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.margins_column{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.background {
    background-image:url("bg1.jpg");
    background-position: center;
    max-height: 100%;
}

.layer {
    background-color: rgba(100, 100, 100, 0.651);
}
